<html>
{% load static %}
<head>
       <link href="styli.css" rel="stylesheet"/>
</head>
<body>
      <div class="container">
	            <div class="header"></div>
	            <div class="fur">
				    <div class="empty"></div>
					<div class="online"><font size ="7">FURNITURE ONLINE <BR/> </font><font size ="3">THE BIGGEST CHOICE</font></div>
					<div class="blank"></div>
					<div class="current"> currency
					<form action="next.html" method="get">
					<textarea name="address"></textarea></form>
					 </div>
					<div class="cart">Shopping cart(0)</div>
				</div>
				<div class="sofa">
				       <div class="brow"> </div>
				       <div class ="pic"></div>
				       <div class="menu">
						  <h2 class="myb">main page</h2>
                           <h2 class="myb">new product</h2> 
						   <h2 class="myb">special</h2>
						   <h2 class="myb">my account</h2>
						   <h2 class="myb">contact us</h2>
				<div class="flag">	  <img src="{% static 'images/uk.jpg' %}" width="50px" height="50px"/> <img src="{% static 'images/uk.jpg' %}" width="50px" height="50px"/> <img src="{% static 'images/uk.jpg' %}" width="50px" height="50px"/></div>
					  </div>
				</div>
				<div class="chair">
				        <div class="wt"></div>
						<div class="lp"> 
						           <div class="photo">
							                 <div class="photo2"> 
											     <div class ="bed">bed room furniture<br/><img src="{%static 'images/FURNITURE.jpg' %}" width="100px" height="100px"/></div>
											     <div class ="bed1"><ul type="square"><li>offic furniture</li><li>office furniture</li></ul>
												 <h1 class="button">add to cart</h1>
												 <h1 class="button">detail</h1>
												 </div>
											</div>
											<div class="photo2">
											     <div class ="bed">bed room furniture<br/><img src="{% static 'Images/FURNITURE.jpg' %}" width="100px" height="100px"/></div>
											     <div class ="bed1"><ul type="square"><li>offic furniture</li><li>office furniture</li></ul>
												  <h1 class="button">add to cart</h1>
												 <h1 class="button">detail</h1>
											     </div>
											</div>
                                   </div>											
						          <div class="photo">
							                <div class="photo2">
											        <div class ="bed">bed room furniture<br/><img src="{%static 'images/FURNITURE.jpg' %}" width="100px" height="100px"/></div>
											     <div class ="bed1"><ul type="square"><li>offic furniture</li><li>office furniture</li></ul>
												 <h1 class="button">add to cart</h1>
												 <h1 class="button">detail</h1>
												 </div>
											</div>
								
							                <div class="photo2">
											      <div class ="bed">bed room furniture<br/><br/><img src="{%static 'images/FURNITURE.jpg' %}" width="100px" height="100px"/></div>
											         <div class ="bed1"><ul type="square"><li>offic furniture</li><li>office furniture</li></ul>
												      <h1 class="button">add to cart</h1>
												      <h1 class="button">detail</h1>
												 </div>
											</div>
											 </div>
						          </div>
						<div class="wg">
						      <div class="g">manufacture</div>
						       <div class="w">
							   <ul type="disc">
							   <li> bed room furniture </li>
                                <li> room furniture </li>
                                <li> hall furniture </li>
							    <li> bed room furniture </li>
                                <li> room furniture </li>
                                <li> hall furniture </li>
								</ul> 
							   </div>
							   <div class="gg">categories</div>
							   <div class="ww"></div>
						</div>
				</div>
				<div class="copy"> home| My Account| Service | New Product | Contact Us<br/>
				Copy right&copy2012FURNITURE COMPANY
				</div>
	  </div> 
   </body>
</html>